<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2017 Matthew Davis <matthew@appsoa.io>
  ~
  ~ This library is free software: you can redistribute it and/or
  ~ modify it under the terms of the GNU Lesser General Public
  ~ License as published by the Free Software Foundation; either
  ~ version 3 of the License, or (at your option) any later version.
  ~
  ~ This library is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  ~ Library General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this library.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  -->

<!--https://logging.apache.org/log4j/2.x/manual/configuration.html-->
<!--http://www.baeldung.com/log4j2-appenders-layouts-filters-->
<Configuration monitorInterval="10">

    <Properties>

        <Property name="log-path">logs</Property>
        <Property name="archive">${log-path}/archive</Property>

    </Properties>

    <Appenders>

        <!--<Syslog name="Syslog"-->
        <!--format="RFC5424" host="localhost" port="514"-->
        <!--protocol="TCP" facility="local3" connectTimeoutMillis="10000"-->
        <!--reconnectionDelayMillis="5000">-->
        <!--</Syslog>-->

        <!--<Failover name="FailoverAppender" primary="Syslog">-->
        <!--<Failovers>-->
        <!--<AppenderRef ref="ConsoleAppender"/>-->
        <!--</Failovers>-->
        <!--</Failover>-->

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p | %d{HH:mm:ss} | [%t] %c (%F:%L) - %m%n"/>
        </Console>

        <File name="com.streamingplatform" fileName="${log-path}/com.streamingplatform.log">
            <PatternLayout pattern="%-5p | %d{HH:mm:ss} | [%t] %c (%F:%L) - %m%n"/>
        </File>

        <File name="org.hibernate" fileName="${log-path}/org.hibernate.log">
            <PatternLayout pattern="%-5p | %d{HH:mm:ss} | [%t] %c (%F:%L) - %m%n"/>
        </File>

        <File name="stdout" fileName="${log-path}/stdout.log">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss.SSS} | [%t] %c (%F:%L) - %m%n"/>
        </File>

        <File name="org.springframework.test" fileName="${log-path}/org.springframework.test.log">

            <!--<PatternLayout pattern="&#45;&#45;&ndash;&gt; %d{HH:mm:ss.SSS} [%-5level] [%t] %c: %message{ansi}%n"/>-->
            <PatternLayout pattern="%-5p | %d{HH:mm:ss} | [%t] %c (%F:%L) - %m%n"/>

        </File>

        <File name="log4jdbc_file" fileName="${log-path}/log4jdbc.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %level - %m%n%ex%n"/>
        </File>

    </Appenders>

    <Loggers>

        <Logger name="org.hibernate" level="debug">
            <AppenderRef ref="org.hibernate"/>
        </Logger>
        <Logger name="com.streamingplatform" level="trace">
            <AppenderRef ref="com.streamingplatform"/>
        </Logger>

        <Logger name="org.springframework.web.client" level="trace" additivity="false">
            <AppenderRef ref="com.streamingplatform"/>
        </Logger>

        <Logger name="org.springframework.security.authentication" level="trace">
            <AppenderRef ref="com.streamingplatform"/>
        </Logger>

        <Logger name="org.springframework.security.web" level="trace" additivity="false">
            <AppenderRef ref="com.streamingplatform"/>
        </Logger>

        <Logger name="org.springframework.test" level="trace">
            <AppenderRef ref="org.springframework.test"/>
        </Logger>

        <Logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" level="trace"
                additivity="false">
            <AppenderRef ref="stdout" level="trace"/>
        </Logger>

        <Logger name="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"
                level="debug"
                additivity="false">
            <AppenderRef ref="stdout" level="trace"/>
        </Logger>

        <Logger name="stdout" level="trace">
            <AppenderRef ref="stdout" level="trace"/>
        </Logger>

        <Logger name="log4jdbc.log4j2" level="trace">
            <AppenderRef ref="log4jdbc_file"/>
            <AppenderRef ref="console"/>
        </Logger>

        <Root level="info">

            <AppenderRef ref="console"/>

        </Root>

    </Loggers>

    <!--<Appenders>-->

    <!--<Appender type="Console" name="console">-->

    <!--<Layout type="PatternLayout" pattern="%m MDC%X%n"/>-->

    <!--<Filters>-->

    <!--<Filter type="MarkerFilter" marker="FLOW" onMatch="DENY" onMismatch="NEUTRAL"/>-->
    <!--<Filter type="MarkerFilter" marker="EXCEPTION" onMatch="DENY" onMismatch="ACCEPT"/>-->

    <!--</Filters>-->

    <!--</Appender>-->

    <!--&lt;!&ndash;<Console name="console" target="SYSTEM_OUT">&ndash;&gt;-->

    <!--&lt;!&ndash;<PatternLayout pattern="asdfasdfasdfds %d{HH:mm:ss.SSS} [%-5level] [%t] %c{1.}: %message{ansi}%n"/>&ndash;&gt;-->

    <!--&lt;!&ndash;</Console>&ndash;&gt;-->

    <!--&lt;!&ndash;<RollingFile name="RollingFile-Appender"&ndash;&gt;-->
    <!--&lt;!&ndash;fileName="${log-path}/RollingFile.log"&ndash;&gt;-->
    <!--&lt;!&ndash;filePattern="${archive}/RollingFile.log.%d{yyyy-MM-dd-hh-mm}.gz">&ndash;&gt;-->

    <!--&lt;!&ndash;<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%t] %c: %message{ansi}%n"/>&ndash;&gt;-->

    <!--&lt;!&ndash;<Policies>&ndash;&gt;-->

    <!--&lt;!&ndash;&lt;!&ndash;<TimeBasedTriggeringPolicy/>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<SizeBasedTriggeringPolicy size="1M"/>&ndash;&gt;-->

    <!--&lt;!&ndash;</Policies>&ndash;&gt;-->

    <!--&lt;!&ndash;<DefaultRolloverStrategy max="5"/>&ndash;&gt;-->

    <!--&lt;!&ndash;</RollingFile>&ndash;&gt;-->

    <!--</Appenders>-->

    <!--<Loggers>-->

    <!--<Logger name="console">-->

    <!--<AppenderRef ref="console" level="info"/>-->

    <!--</Logger>-->

    <!--&lt;!&ndash;<Logger name="org.springframework.web" level="trace">&ndash;&gt;-->

    <!--&lt;!&ndash;</Logger>&ndash;&gt;-->

    <!--&lt;!&ndash;<Logger name="org.hibernate" level="trace">&ndash;&gt;-->

    <!--&lt;!&ndash;<Console target="SYSTEM_OUT">&ndash;&gt;-->

    <!--&lt;!&ndash;<PatternLayout pattern="HIBERNATE - [%-5level] [%t] %c{1.}: %message{ansi}%n"/>&ndash;&gt;-->

    <!--&lt;!&ndash;</Console>&ndash;&gt;-->

    <!--&lt;!&ndash;</Logger>&ndash;&gt;-->
    <!--&lt;!&ndash;<Root level="trace">&ndash;&gt;-->

    <!--&lt;!&ndash;<AppenderRef ref="Console-Appender" level="trace"/>&ndash;&gt;-->

    <!--&lt;!&ndash;</Root>&ndash;&gt;-->

    <!--</Loggers>-->

</Configuration>
