<!--

    ====
        Copyright 2017 Pivotal Software, Inc.

        Licensed under the Apache License, Version 2.0 (the "License");
        you may not use this file except in compliance with the License.
        You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

        Unless required by applicable law or agreed to in writing, software
        distributed under the License is distributed on an "AS IS" BASIS,
        WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
        See the License for the specific language governing permissions and
        limitations under the License.
    ====

    Copyright 2017 Pivotal Software, Inc.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="All Packages" parallel="tests" thread-count="32" verbose="1">

    <!--<suite-files>-->

    <!--<suite-file path="organizations/testng.xml"/>-->
    <!--<suite-file path="networking/hosts/testng.xml"/>-->

    <!--</suite-files>-->

    <test name="organizations">

        <packages>

            <package name="platform.services.api.organizations"/>

        </packages>

    </test>

    <test name="streams">

        <packages>

            <package name="platform.services.api.streams"/>

        </packages>

    </test>

    <test name="system">

        <packages>

            <package name="platform.services.api.system"/>

        </packages>

    </test>

    <test name="users">

        <packages>

            <package name="platform.services.api.users"/>

        </packages>

    </test>

    <test name="networking.hosts">

        <packages>

            <package name="platform.services.api.networking.hosts"/>

        </packages>

    </test>

</suite>
